<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" style="display:flex;justify-content:space-between">
        <span style="margin-left: 20px;">Forgot Password?</span>
        <!-- <span class="spacer"></span> -->
        <button style="margin-right: 20px;" class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content >
    <p>Enter your email address to reset your password.</p>
    <form (ngSubmit)="handleSubmit()" #resetForm="ngForm" >
        <mat-form-field>
            <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="emaildata.to"  required>
        </mat-form-field>
        <div class="buttons">
            <!-- <button mat-button (click)="closeDialog()">Cancel</button> -->
            <button mat-raised-button color="warn" mat-dialog-close> <mat-icon>cancel</mat-icon> Close</button>
            <!-- <button mat-button color="primary" type="submit" >Send OTP</button> -->

            <button mat-raised-button color="primary" type="submit" style="margin-left: 10px;">
                <mat-icon>Send</mat-icon> Send OTP
            </button>
        </div>
    </form>
</mat-dialog-content>

<!-- <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Forgot Password?</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm"  >
        <div fxFlex fxLayout="column">
            <mat-form-field  fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required name="email" >

                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">The field is mandatory</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.email">The field is invalid</span>

                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit"  [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
        <mat-icon>Send</mat-icon> Send OTP
    </button>
    <button mat-raised-button color="warn" mat-dialog-close> <mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions> -->