<mat-card *ngIf="user" style="height:500px">
    <!-- {{ user | json}} -->
    
    <mat-card-content>
        <div class="bootstrap-wrapper">

            <div class="container ">
                <h1 style="margin: 18px;">All user Details</h1>
                <button routerLink="/admin/all-users" mat-raised-button color="primary" style="background-image: url(https://i.pinimg.com/1200x/92/55/0e/92550e6fadb12fad57eebf513b296cf0.jpg); background-size:cover; width: 200px;height: 200px;"></button>

            
            </div>
        </div>
    </mat-card-content>

    <!-- <div style="margin: top 15px;" class="container ">
        <button type="submit" mat-raised-button color="primary" style="background-image: url(https://i.pinimg.com/1200x/92/55/0e/92550e6fadb12fad57eebf513b296cf0.jpg); background-size:cover; width: 200px;height: 200px;"></button>
    </div> -->
</mat-card>
