

<div class="bootstrap-wrapper video-wrapper">

    <video [autoplay]="true" [playsInline]="true" [muted]="true" [loop]="true">
        <source src="../../../assets/nv1.mp4" type="video/webm">
        <!-- Your browser does not support the video tag. -->
    </video>
    <div class="header">
        <h1 style="color: azure;">Welcome to Exam Portal</h1>
        <button routerLink="/signup" mat-raised-button color="accent">Get start</button>
    </div>

</div>

<!-- <div class="video-wrapper">
    <video playsinline autoplay muted loop poster="cake.jpg">
      <source src="../../../assets/exam.mp4" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div> -->